.main-container {
    min-height: 300px;
}
.main-container .col-main {
    float: none;
    width: auto;
}
.main-container .col-main .cart .bg-scroll {
    margin-top: 15px;
    overflow: hidden;
    border-top: none;
    border-bottom: none;
    border-right: none;
}
.main-container .col-main .cart .cart-thead {
    background: #fff;
    font-weight: bold;
    font-size: 13px;
    clear: both;
    width: 100%;
    float: left;
    min-width: 600px;
    border-bottom: solid 1px #ebebeb;
    padding: 0px;
}
.main-container .col-main .cart .cart-thead div {
    float: left;
    font-weight: 500;
    padding: 10px 0px;
    color: #d4651f;
    text-align: center;
    font-size: 14px;
    border-top: solid 1px #ebebeb;
    border-left: solid 1px #ebebeb;
}
.main-container .col-main .cart .nobr {
    white-space: nowrap;
}
.main-container .col-main .cart .cart-tbody {
    width: 100%;
    float: left;
}
.main-container .col-main .cart .cart-tbody .item-cart {
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    float: left;
}
.main-container .col-main .cart .cart-tbody .item-cart div.image {
    padding: 20px 10px 20px 0px !important;
}
.main-container .col-main .cart .cart-tbody .item-cart div {
    float: left;
    line-height: 20px;
    vertical-align: top;
    height: 160px;
    -webkit-align-items: center;
    display: flex !important;
    flex-flow: column;
    justify-content: center;
    border-left: solid 1px #ebebeb;
}
.main-container .col-main .cart .cart-tbody .item-cart .product-image {
    min-height: 75px;
    display: block;
    height: auto;
    width: 100%;
    padding: 0 10px;
}
.main-container .col-main .cart .item-cart .image .product-image img {
    max-width: 100%;
    height: auto;
    max-height: 98px;
    width: auto;
    display: inherit;
    margin: 0 auto;
}
.main-container .col-main .cart .cart-tbody .item-cart div .product-name {
    margin: 0px;
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0px;
}
.main-container .col-main .cart .cart-tbody .item-cart div .product-name a {
    color: #333;
    font-weight: 700;
    text-decoration: none;
}
.main-container .col-main .cart .cart-tbody .item-cart div .price {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 7;
    color: #d4651f;
}
.main-container .col-main .cart .cart-tbody .item-cart div .input_qty_pr {
    height: auto;
    border-right: none;
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    position: relative;
    border-left: 0px;
}
.main-container .col-main .cart .cart-tbody .item-cart .number-sidebar {
    min-height: 0;
    position: static;
    display: inline-block;
    float: none;
    margin-bottom: 0;
}
.main-container .col-main .cart .item-cart .number-sidebar {
    border: 1px solid #f5f5f5;
    height: 30px;
    margin-left: -1px;
    text-align: center;
    width: 60px;
    margin-right: -1px;
    padding: 0;
    line-height: 15px;
    font-size: 14px;
}
.form-cart-continue {
    height: 40px;
    line-height: 40px;
    padding: 0px 25px;
    background: #d4651f;
    color: #fff;
    border: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0px;
}
.table-total .table tbody tr td {
    padding: 10px 15px;
}
.table-total .table tbody tr .total-text {
    font-weight: 400;
}
.table-total .table tbody tr .price_end {
    font-weight: 700;
    color: #d4651f;
}
.btn-checkout-cart {
    display: block;
    padding: 0 30px;
    height: 45px;
    font-size: 14px;
    line-height: 45px;
    color: #fff;
    background-color: #d4651f;
    text-transform: uppercase;
    border: solid 1px #d4651f;
    width: 100%;
    margin: 0 auto 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
}