* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.wrapper {
    width: 700px;
    margin: 20px auto;
}
.products ul li p {
    display: none;
}
.products ul.list li p {
    display: block;
}
.products .list li {
    float: none;
    display: block;
    width: 90%;
    height: 245px;
}
.products .list li .itemTitle {
    float: left;
    position: relative;
    padding: 20px 0 20px 0;
    width: auto;
    height: auto;
    border: 0;
    background: transparent;
}
.products .list li:hover .itemTitle {
    border: 0;
}
.products .list li .itemTitle a {
    padding: 0 0 5px 0;
}
.products .list li .itemTitle .des {
    color: #333;
    text-transform: none !important;
    padding: 10px 0 0 0;
}
.products .list li .itemTitle p {
    color: #333;
    text-transform: none !important;
    width: 440px;
}
.products .list li .itemIMG {
    height: 243px;
    float: left;
    /*border-right: 1px solid #d9d9d9;*/
    margin: 0 25px 0 0;
    width: 230px;
    position: relative;
}
.products .list li .itemIMG img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.products .list li .addCART {
    height: 243px;
    /*border-bottom: 1px solid rgba(51, 51, 51, 1);*/
}
.products .list li .addCART a {
    margin: 45% auto auto 40px;
}
.products.catalog {
    margin: 80px auto 40px auto;
}
.products.category {
    margin: 10px 0;
    width: 693px;
    float: left;
}
.products ul li {
    float: left;
    margin: 5px;
    padding: 0;
    width: 250px;
    height: 270px;
    position: relative;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
.products ul li img {
    position: unset;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.products ul li:hover .addCART, .products ul li:hover .addCART a {
    opacity: 1;
}
.products ul li:hover .itemTitle {
    /*border: 1px solid rgba(51, 51, 51, 1);*/
    border-top: 0;
}
.products ul li:hover .itemTitle a {
    color: #010101;
}
.addCART {
    position: absolute;
    top: 0;
    left: -10px;
/*    width: 228px;
    height: 186px;*/
    /*border: 1px solid rgba(51, 51, 51, 1);*/
    border-bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0;
    -webkit-transition: opacity 0s;
    -moz-transition: opacity 0s;
    -o-transition: opacity 0s;
}
.addCART a {
    text-decoration: none;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 10px auto auto 200px;
    background-color: #333;
    text-align: center;
    font: 14px/40px'OpenSans-Italic', sans-serif;
    color: #fff;
    opacity: 0;
    background: #d4651f;
    border-radius: 10px;
    -webkit-transition: opacity 1s;
}
.itemTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 240px;
    height: 80px;
    border: 1px solid rgba(51, 51, 51, 0);
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    border-top: 0;
    padding: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
}
.itemTitle p, .itemTitle span, .itemTitle a {
    text-transform: uppercase;
}
.itemTitle a {
    color: black;
    text-decoration: none;
    display: block;
    font-weight: 600;
}
.itemTitle span {
    color: #d4651f;
    font-weight: 700;
}
.view p  { top: 5px; margin: 0 10px 0 0; } 
.view p,
.view a { 
    float: left; 
    display: inline-block;
    text-decoration: none;
    position: relative;
}
.icon-grid {
    background: url("https://webdevtrick.com/wp-content/uploads/grid-view.png") no-repeat 0 0;
    height: 16px;
    width: 16px;
    top: 7px;
}
.icon-list {
    background: url("https://webdevtrick.com/wp-content/uploads/list-view.png") no-repeat 0 0;
    height: 32px;
    width: 32px;
}


.space-30 {
    margin-bottom: 30px !important;
}
.aside-item {
    margin-bottom: 25px;
}
.aside-title h2 {
    background: #d4651f;
    padding: 8px 15px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    position: relative;
    font-size: 17px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.categories-box {
    background: #fff;
    padding: 10px 0;
    margin-bottom: 30px;
}
.categories-box, .aside-filter .filter-container {
    border: 1px solid #cdcdcd;
    border-top: none;
    /*padding: 10px;*/
}
.aside-item.collection-category .nav-item {
    position: relative;
    clear: left;
    font-size: 1.07143em;
    list-style: none;
}
.categories-box .lv1 li a {
    padding-right: 20px;
}
.categories-box .lv1 li a {
    font-size: 14px;
    display: block;
    color: #333;
}
.aside-filter .filter-container .aside-item .aside-content {
    padding-top: 0;
    margin-bottom: 0;
}
.aside-content {
    padding-top: 10px;
}
.aside-item.collection-category .nav-item.active>a {
    color: #d4651f;
}
.left-content .aside-content img {
    float: left;
}
.sortPagiBar {
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}
.sortPagiBar a {
    margin-right: 4px;
    display: inline-block;
    float: left;
}
.sortPagiBar a .button-view-mode:hover, .sortPagiBar a .button-view-mode.active {
    background: #d4651f;
    border-color: #d4651f;
    color: #fff;
}
.button-view-mode.active {
    box-shadow: none;
    color: #333;
}
.sortPagiBar a .button-view-mode {
    display: inline-block;
    float: left;
    margin: 0;
    font-size: 14px;
    transition: 0.3s all ease 0s;
    width: 35px;
    height: 35px;
    line-height: 22px;
    cursor: pointer;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #e5e5e5;
    padding-right: 0;
}
#sort-by {
    float: right;
    font-size: 12px;
    text-align: left;
}
#sort-by label {
    float: left;
    line-height: 38px;
    font-size: 14px;
    margin-right: 6px;
    margin-bottom: 0;
}
.products-view-grid .product-box {
    border: 1px solid #ddd;
}
.products-view-grid .product-box {
    margin-bottom: 20px;
}
.product-box {
    position: relative;
    overflow: hidden;
    background: #fff;
}
.product-box .product-thumbnail {
    position: relative;
}
.product-box .product-thumbnail .image_thumb {
    min-height: 155px;
}
.product-box .product-thumbnail .image_thumb {
    display: block;
}
.products-view .product-box .product-thumbnail img, .products-view-grid .product-box .product-thumbnail img, .product-search .product-box .product-thumbnail img {
    max-height: 180px;
}
.product-box .product-thumbnail img {
    transition: all 0.3s ease 0s;
}
.product-box .product-thumbnail img {
    display: block;
    margin: auto;
}
.pagination {
    margin-bottom: 20px;
}
.pagination .page-item.disabled .page-link {
    border: 0;
    display: none;
}
.pagination .page-item.active .page-link {
    background-color: #d4651f;
    border-color: #d4651f;
    color: #fff;
    display: block;
}
.pagination .page-link {
    float: left;
    margin: 2.5px;
    width: 40px;
    background: #fff;
    text-align: center;
    height: 40px;
    font-size: 16px;
    line-height: 30px;
    color: #333;
    border-radius: 0;
    border: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.list-product-slidebar {
    border: 1px solid #dedede;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding: 0 10px;
}
.list-product-slidebar .list-item {
    float: left;
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;
}
.list-product-slidebar .list-item .thumb-imagtes {
    float: left;
    width: 75px;
    padding-right: 10px;
}
.list-product-slidebar .list-item .product-info-text {
    float: left;
    width: calc(100% - 75px);
}
.list-product-slidebar .list-item .product-info-text h3 a {
    color: #111;
}
.list-product-slidebar .list-item .product-info-text h3 {
    font-size: 14px;
    color: #999;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 3px;
}
.list-product-slidebar .list-item .product-price {
    color: #d4651f;
    font-size: 14px;
    font-weight: 700;
}
.relative.product-image-block>.large-image {
    margin-bottom: 10px;
}
.zoomWrapper {
    height: auto !important;
    margin: auto;
    width: auto !important;
}
.zoomWrapper img {
    position: static !important;
    max-width: 100% !important;
    height: auto !important;
    width: auto !important;
}
.details-product .details-pro .title-head {
    color: #2e3553;
    font-size: 26px;
    line-height: normal;
    width: 100%;
    padding: 0px 0px;
}
.information p {
    margin: 0;
    color: #d4651f;
    display: inline-block;
    margin-right: 5px;
}
.information p span {
    color: #333;
}
.details-product .details-pro .price-box {
    margin: 10px 0 15px;
}
.details-product .details-pro .product-price {
    font-size: 2.14286em;
    display: inline-block;
    color: #d4651f;
}
.product_description {
    word-break: break-all;
}
.rte.description {
    word-break: break-word;
}
.rte.description {
    background: #f6f6f6;
    padding: 10px;
    margin-bottom: 20px;
}
.details-product .details-pro .form-group.form-groupx {
    width: 100%;
    float: left;
}
.details-product .details-pro .custom-btn-number {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    border: none;
    box-shadow: none;
    width: 132px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.details-product .details-pro .custom-btn-number .qtyminus {
    position: absolute;
    left: 0px;
    text-align: center;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 39px;
    font-size: 25px;
    cursor: pointer;
    color: #898989;
    border: 1px solid #ebebeb;
    background: #fff;
}
.details-product .details-pro .custom-btn-number #qty {
    font-size: 14px;
    margin: 0;
    padding: 0 23px;
    border-radius: 0px;
    text-align: center;
    padding: 0;
}
.details-product .details-pro .custom-btn-number .qtyplus {
    position: absolute;
    right: 5px;
    text-align: center;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #898989;
    border: 1px solid #ebebeb;
    background: #fff;
}

button.btn.btn-lg.btn-gray.btn-cart.add_to_cart.btn_buy.add_to_cart {
    line-height: 1;
    background: #d4651f;
    font-size: 14px;
}
.social-sharing {
    margin-top: 15px;
}
.social-media {
    font-size: 1em;
    float: left;
    width: 100%;
}
.social-media label {
    display: inline-block;
    margin-right: 7px;
}
.social-media .share-facebook {
    background: #2f6cdc;
}
.social-media a {
    margin-right: 7px;
    width: 30px;
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border-radius: 5px;
}
.social-media .share-twitter {
    background: #4cadf8;
}
.social-media .share-pinterest {
    background: #ec623d;
}
.social-media .share-google {
    background: #ef3218;
}
.space-30 {
    margin-bottom: 30px !important;
}
.product-tab ul.tabs.tabs-title {
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
}
.product-tab ul.tabs.tabs-title li:hover, .product-tab ul.tabs.tabs-title li.current {
    color: #d4651f;
}
.product-tab ul.tabs.tabs-title li {
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
    font-size: 100%;
    text-transform: uppercase;
    color: #333;
    position: relative;
    margin-right: 15px;
}
.product-tab ul.tabs.tabs-title li.current:before {
    display: block;
}
.product-tab ul.tabs.tabs-title li:before {
    content: "";
    background: #d4651f;
    height: 2px;
    width: 100%;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: -1px;
    display: none;
}
.product-tab .tab-link.current h3 {
    color: #d4651f;
}
.product-tab .tab-link h3 {
    margin: 10px 0;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
.product-tab .tab-link span {
    font-size: 1em;
}
.product-tab ul.tabs.tabs-title li {
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
    font-size: 100%;
    text-transform: uppercase;
    color: #333;
    position: relative;
    margin-right: 15px;
}
.product-tab .tab-link {
    margin: 0;
}
.product-tab .tab-link h3 {
    color: #d4651f
    margin: 10px 0;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
.product-tab .tab-link span {
    font-size: 1em;
}
.related-product {
    margin-bottom: 30px;
}
.title-home h3 {
    margin: 0 0 5px;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
}
.title-home {
    text-align: center;
    margin-bottom: 30px;
}
.social-media .share-google {
    background: #ef3218;
}
.social-media a {
    margin-right: 7px;
    width: 30px;
    display: inline-block;
    text-align: center;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border-radius: 5px;
}
@media (min-width: 1200px){
    .details-product .large-image>div {
        min-height: 100px;
        display: flex;
    }
}
@media (min-width: 767px){
    .products-view-grid .col-lg-4:nth-child(3n+1) {
        clear: left;
    }
}
@media (min-width: 1200px){
    .category-products .product-box .product-thumbnail {
        height: 200px;
    }
}
