.bread-crumb {
    margin-bottom: 20px;
}
.breadcrumb-container {
    position: relative;
}
.breadcrumb-container {
    padding: 25px;
    margin: 0;
    color: #fff;
    text-align: center;
    background: #fff;
    background-size: cover;
}
.breadcrumb-container .title-page {
    z-index: 9;
    text-transform: uppercase;
}
.breadcrumb-container .title-page {
    color: #111;
    position: relative;
    font-weight: 600;
    font-size: 24px;
}
.breadcrumb {
    z-index: 9;
    position: relative;
}
.breadcrumb {
    margin: 0;
    font-size: 1em;
    padding: 4px 0 !important;
    background-color: initial;
    border-radius: 0;
    display: block !important;
}
.breadcrumb li {
    display: inline;
    color: #111;
}
.breadcrumb li>a {
    color: #999;
    text-decoration: none;
}
.breadcrumb li>a>span {
    color: #111;
}
.breadcrumb li span {
    display: inline;
    font-weight: bold;
}
.breadcrumb-container i {
    padding: 0 7px;
}
.breadcrumb li a:hover span, .breadcrumb li.active, .breadcrumb li strong {
    color: #d4651f;
}
b, strong {
    font-weight: 500;
}
.breadcrumb li span {
    color: #d4651f;
}
iframe {
    max-width: 100%;
}
.iFrameMap iframe {
    width: 100%;
    height: 350px;
}
.title-head {
    font-size: 15px;
    font-weight: 700;
    color: #555;
    text-decoration: none;
    margin-top: 0;
    display: inline-block;
    width: 100%;
}
a, .text-link {
    color: #333;
    text-decoration: none !important;
    background: transparent;
}
.form-group {
    margin: 0;
    padding: 0 0 8px;
    border: 0;
}
.form-group .form-control {
    display: block;
    width: 100%;
    min-height: 40px;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    margin: 0;
    box-shadow: none;
    border: 1px solid #EAEBF3;
    border-radius: 0;
}
.btn.btn-primary {
    font-weight: 400;
}
.btn.btn-primary, input.btn-primary[type="submit"] {
    background: #d4651f;
}
.btn-primary {
    border-radius: 5px;
}
