h1, .title-head {
    font-size: 19px;
    line-height: 22px;
    font-weight: 700;
    color: #212B25;
    text-transform: uppercase;
    margin-bottom: 17px;
    padding-top: 12px;
}
#customer_login, #recover_customer_password {
    margin-bottom: 0;
}
a.btn-link-style.btn-register {
    display: inline-block;
    height: 40px;
    line-height: 39px;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
    outline: none !important;
    cursor: pointer;
    border: none;
    font-weight: 400;
    border: 1px solid #d4651f;
    color: #d4651f;
    font-size: 14px;
    vertical-align: top;
}
.btn, input[type="submit"] {
    display: inline-block;
    height: 40px;
    line-height: 39px;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
    outline: none !important;
    border: none;
    font-weight: 400;
    letter-spacing: 0;
    border-radius: 0;
    font-size: 14px;
}
.btn-color {
    background: #d4651f !important;
}
b, strong {
    font-weight: 500;
}