.title-head a {
    color: #fff;
}
.aside-item .list-blogs {
    border: 1px solid #ddd;
    padding: 0 10px;
    border-top: none;
    margin-top: -5px;
}
.aside-item .blog-item {
    margin-bottom: 25px;
    border-bottom: 1px solid #ebebeb;
    padding: 5px 0;
    margin: 5px 0;
    display: flex;
}
.aside-item .blog-item:last-child {
    border-bottom: none;
}
.blog-item {
    overflow: hidden;
}
.aside-item .blog-item>a {
    min-width: 80px;
/*    margin-right: 10px;*/
}
.blog-item-name {
    font-weight: 700;
    position: relative;
    font-size: 1em;
    margin: 0;
}
.blog-item-name a {
    color: #333;
}
.list-blogs.blog-main .blog-item {
    display: flex;
}
.list-blogs .blog-item {
    margin-bottom: 25px;
}
.list-blogs.blog-main .blog-item .blog-item-thumbnail {
    width: calc(100%/12*4);
}
.blog-item-thumbnail {
    position: relative;
}
.list-blogs.blog-main .blog-item-thumbnail img {
    object-fit: cover;
    width: 100%;
}
.list-blogs.blog-main .blog-item .blog-item-info {
    width: calc(100%/12*8);
    padding-left: 30px;
}
.list-blogs.blog-main .blog-item .blog-item-name a {
    font-size: 18px;
    line-height: 22px;
}
.list-blogs.blog-main .blog-item .blog-item-meta {
    display: flex;
    font-size: 12px;
    margin: 5px 0;
}
.list-blogs.blog-main .blog-item .blog-item-meta .post-author {
    color: #d4651f;
}
.list-blogs.blog-main .blog-item .blog-item-meta>div {
    margin-right: 5px;
}
.list-blogs.blog-main .blog-item .blog-item-meta>div:after {
    content: '-';
}
.list-blogs.blog-main .blog-item .blog-item-meta>div {
    margin-right: 5px;
}
.list-blogs.blog-main .blog-item .blog-item-meta>div {
    margin-right: 5px;
}
.list-blogs.blog-main .blog-item .blog-item-meta>div span {
    color: #d4651f;
}
.blog-item-summary {
    font-size: 1em;
}
