body {
    background: #fff;
    font-size: 15px !important;
    color: #333 !important;
    font-family:'Oswald', 'Oswald', sans-serif !important;
}
<-- header -->
.header{
    background: none;
    z-index: 99;
}
.menu-header-mobile {
    display: flex;
    background: #d4651f;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.icon-menu-mobile {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}
.icon-menu-mobile i {
    font-size: 20px;
    color: #fff;
}
/*.icon-menu-mobile {
    display: none;
}*/
.body_index .header {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
}
.body_index .header .middle-header {
    background: none;
}
.body_index .middle-header {
    border: none;
    padding: 10px 0 30px;
    position: relative;
    z-index: 9;
}
.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.bg-cover>div {
    z-index: 2;
    position: relative;
}
.halud-slide-show.bg-cover:after {
    background: rgba(0,0,0,0.2);
}
.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 15px 0;
}
.header-main .d-flex-desktop {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header-main .align-center {
    align-items: center;
}
.header-main .flex {
    display: flex;
}
.icon-click-search {
    width: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 0;
    position: relative;
    color: #fff;
    font-size: 18px;
}
.icon-click-search img {
    width: 20px;
}
img {
    border: 0 none;
    max-width: 100%;
    height: auto;
}
.header-main .logo {
    position: static;
    transform: translate(0, 0);
    margin: 0;
    max-height: inherit;
    flex: auto;
}
.header-main .logo {
    text-align: center;
}
.header-main .logo img {
    max-width: 100px;
}
.header-main .logo img {
    vertical-align: top;
}
.img-auto {
    width: auto !important;
    height: auto !important;
}
.header-main .right {
    position: static;
    display: flex;
    align-items: center;
}
.header-main .icon-acc {
    margin-right: 20px;
}
.w-20 {
    width: 20px;
}
.mini-cart {
    z-index: 10;
    text-align: center;
}
.mini-cart:before {
    content: "";
    display: inline-block;
    width: 50px;
    position: absolute;
    right: -15px;
    top: 55px;
    height: 150px;
    background: transparent;
}
.header-main .heading-cart {
    border-radius: 0px;
    background: transparent;
}
.header-main .heading-cart>a {
    color: #d4651f;
    position: relative;
}
.w-20 {
    width: 20px;
}
.header-main .heading-cart #cart-total {
    position: absolute;
    top: -6px;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #d4651f;
    color: #fff;
    line-height: 17px;
    font-size: 8px;
    left: 12px;
    font-weight: 300;
}
header .main-nav, header .main-nav.sticky {
    position: relative !important;
    height: auto;
    background: none;
    width: auto !important;
    left: inherit !important;
    display: block;
}
header .main-nav.sticky {
    padding: 0px;
    box-shadow: none;
}
header .main-nav.sticky {
    top: 0px !important;
    z-index: 99;
}
header .main-nav {
    transition: all 0s;
}
.mini-cart:hover .top-cart-content {
    display: block;
}
.top-cart-content {
    display: none;
    position: absolute;
    top: 65px;
    right: 0px;
    background: #fff;
    padding: 0;
    text-align: left;
    z-index: 10000;
}
ul#cart-sidebar {
    padding: 5px 0px;
    margin: 0;
    max-height: 582px;
    width: 300px;
    border: solid 1px #ebebeb;
    border-bottom: 0px;
}
.top-cart-content .mini-products-list {
    position: relative;
}
.no-item {
    height: 30px;
    line-height: 30px;
    padding: 0px 20px;
    min-width: 280px;
}
.no-item p {
    margin: 0px;
    width: 280px;
}
.main-nav nav {
    /*flex-grow: 1;*/
    margin-left: 30%;
}
.main-nav nav .nav {
    background: none;
    /*text-align: center;*/
}
.main-nav nav .nav {
    overflow: inherit;
    max-height: inherit;
    margin: 0;
}
.main-nav nav .nav-item {
    display: inline-block;
    width: auto;
    border: none;
}
.main-nav nav .nav-item.active>a {
    color: #fff;
}
.main-nav nav .nav-item:hover>a, .main-nav nav .nav-item.active>a {
    font-weight: 700;
}
.main-nav nav .nav-item.active>a {
    background: none;
}
.main-nav nav .nav-item>a {
    font: 700 14px/20px "Oswald";
    text-transform: uppercase;
    padding: 8px 20px 8px 20px !important;
    color: white;
    font-size: 14px;
}
.main-nav nav .mega-content {
    transition: all 0.3s ease 0s;
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: 100;
    padding: 10px;
    box-shadow: 0px 0px 16px -3px #999;
    left: 0;
    text-align: left;
    display: none;
}
.main-nav nav .mega-content .level0-wrapper2 {
    padding: 10px;
}
.main-nav nav .mega-content .level0 {
    display: flex;
    flex-wrap: wrap;
}
.main-nav nav .mega-content .level1.item {
    width: calc(100%/4);
    padding: 0 5px;
    margin-bottom: 15px;
}
.main-nav nav .mega-content .level1.item h2 {
    margin-top: 0;
}
.main-nav nav .mega-content .level1.item h2 a {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
}
.main-nav nav .mega-content .level1.item a {
    font-weight: 300;
}
.main-nav nav .mega-content .level1.item ul li a {
    font-size: 14px;
    padding: 2px 0;
    display: block;
}

.top-cart-content {
    display: none;
    position: absolute;
    top: 65px;
    right: 0px;
    background: #fff;
    padding: 0;
    text-align: left;
    z-index: 10000;
}
ul#cart-sidebar {
    padding: 5px 0px;
    margin: 0;
    max-height: 582px;
    width: 300px;
    border: solid 1px #ebebeb;
    border-bottom: 0px;
}
.top-cart-content .mini-products-list {
    position: relative;
}
ul#cart-sidebar .list-item-cart {
    max-height: 260px;
    overflow-y: auto;
    position: relative;
}
.top-cart-content .list-item-cart {
    padding: 0px 15px;
}
.top-cart-content li.item {
    overflow: hidden;
    padding: 0px;
    position: relative;
}
.top-cart-content li {
    list-style: none;
}
.wrap_total {
    padding: 10px 15px 0px;
    margin-top: 10px;
}
.top-subtotal {
    color: #333;
    line-height: 24px;
    text-transform: none;
    padding: 0px 0px 0px;
    font-size: 14px;
    text-align: left;
}
.top-subtotal .price, .top-subtotal .pricex {
    font-size: 14px;
    font-weight: 700;
    color: #d4651f;
    text-align: right !important;
    float: right;
}
.wrap_button {
    padding: 0px 15px 15px;
    line-height: 50px;
    margin-top: 20px;
    width: 100%;
    float: left;
}
.top-cart-content .actions .btn-cart-page.pink {
    background: #fff;
    border: solid 1px #d4651f;
    color: #d4651f;
}
.top-cart-content .actions .btn-cart-page {
    font-size: 14px;
    width: 100%;
    float: left;
    margin-left: 0px;
    height: 38px;
    border-radius: 0px;
    padding: 0px;
    line-height: 38px;
    font-weight: 400;
}
.top-cart-content .actions .btn-checkout.pink {
    background: #d4651f;
}
.header .search.active {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    left: 0px;
    top: 0 !important;
    display: flex;
    z-index: 99999;
    align-items: center;
    justify-content: center;
}
.close-search {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    cursor: pointer;
}
.close-search i {
    font-size: 30px;
}
.header_search.active {
    opacity: 1;
    transform: translateY(0);
}
.header_search {
    width: calc(100% - 40px);
    max-width: 1140px;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.header_search .input-group {
    width: 100%;
    margin-bottom: 0;
}
.header_search .input-group .search-text {
    padding: 0 0px 10px 0px;
    border-radius: 0px;
    font-size: 22px;
    color: #fff;
    border: none;
    text-align: center;
    border-bottom: 1px solid #fff;
    font-weight: 300;
}
.header_search .input-group .search-text {
    background: none;
}
.header_search button {
    background: none;
    font-size: 22px;
    border: none;
    color: #fff;
    transition: all 0.3s ease 0s;
}
@media (min-width: 992px){
    .main-nav nav .nav, .main-nav nav, header .main-nav {
        position: static;
    }
}
<-- section-1 -->
.awe-section-1 {
    margin-bottom: 0px !important;
}
.bg-slider-opcity {
    background: #000;
}
.dots-bottom {
    position: relative;
}
.tns-outer {
    position: relative;
    padding-bottom: 0px !important;
}
.dots-bottom .tns-nav {
    position: absolute;
    bottom: 30px;
    left: 0px;
}
.dots-bottom .tns-nav button.tns-nav-active {
    background: #d4651f;
}
.tns-outer .tns-nav button {
    box-shadow: none;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 2px;
    display: inline-block;
    padding: 0px;
}
.halud-slide-show .item {
    flex: 1;
    background: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-right: 1px solid rgba(255,255,255,0.25);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 20px 30px 50px;
    flex-direction: column;
}
.halud-slide-show .item:hover {
    background: rgba(0,0,0,0.3);
}
.halud-slide-show .item:hover {
    padding-bottom: 100px;
}
.halud-slide-show .item h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}
.halud-slide-show .item p {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
}
.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
}
.halud-slide-show {
    display: flex;
    height: 100vh;
}
.bg-slider-opcity .item .text-slider {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 0 50px;
}
<-- section-2 -->
.awe-section-2 {
    margin-bottom: 0px;
}
.bg-gray-700 {
    background: #f5f2eb;
    padding: 30px 0 50px;
}
.title-text {
    margin-bottom: 30px;
}
.title-text h3{
    color: #63584c;
    font-size: 38px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 40px;
}
.title-text p {
    color: #999;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
}
#id_tiny_1-iw {
    margin: 0px;
}
#id_tiny_1 > .tns-item {
    width: calc(16.6667%);
}
#id_tiny_1 > .tns-item {
    font-size: 14px;
}
.halu-item-card {
    padding: 0 10px;
    width: 20%;
}
.tns-horizontal.tns-subpixel>.tns-item {
    display: -webkit-inline-box;
    vertical-align: top;
    white-space: normal;
}
.border-radius-50 {
    border-radius: 50%;
    overflow: hidden;
}
.banner {
    position: relative;
    display: block;
}
.banner:before {
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 0;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 0;
}
.banner:after {
    border-color: transparent transparent #000;
    border-style: solid;
    border-width: 0;
    bottom: 0;
    content: "";
    height: 0;
    opacity: 0.2;
    position: absolute;
    right: 0;
    transition: all 0.5s ease-in-out;
    width: 0;
}
.img-full {
    width: 100% !important;
    height: auto !important;
}
.halu-item-card h3 {
    font-weight: 500;
    color: #63584c;
    margin: 10px 0 5px;
    font-size: 18px;
    line-height: 22px;
}
.tns-outer .tns-controls button {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    box-shadow: none;
    font-size: 0px;
    background: rgba(0,0,0,0.6);
    outline: none;
    display: inline-block;
    width: 28px;
    height: 40px;
    z-index: 999;
    color: #fff;
    border-radius: 3px;
}
.tns-outer .tns-controls button:before {
    font-size: 23px;
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: "FontAwesome";
    content: "\f104";
}
.tns-outer .tns-controls button[data-controls="next"] {
    background: rgba(0,0,0,0.6);
    left: inherit;
    right: 1px;
}
.tns-outer .tns-controls button[data-controls="next"]:before {
    content: "\f105";
}
@media (min-width: 75em){
    #id_tiny_1 {
        width: calc(120%);
    }
}

<-- section-3 -->
.awe-section-3 {
    margin-bottom: 0px;
}
.halu-card-hori {
    display: flex;
}
.halu-card-hori .col-item {
    flex: 1;
    display: flex;
    align-items: center;
}
.halu-card-hori .flex-end {
    justify-content: flex-end;
    text-align: right;
    padding: 20px 0;
}
.halu-card-hori .col-item h3 {
    color: #63584c;
    text-transform: capitalize;
    font-size: 38px;
    line-height: 50px;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 0 10px;
}
.halu-card-hori .col-item p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #999;
    padding: 0 10px;
}
.btn-orange {
    background: #d4651f !important;
    border-radius: 30px !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    line-height: 25px !important;
    height: 40px !important;
    font-size: 14px !important;
    color: #fff !important;
    min-width: 140px !important;
    margin-right: 30px !important;
}
.halu-card-hori .col-item {
    flex: 1;
    display: flex;
    align-items: center;
}
.img-auto {
    width: auto !important;
    height: auto !important;
}

<-- section-5 -->
.awe-section-5 {
    margin-bottom: 0px;
}
.section-slide-new.slider-product {
    padding: 20px 0 40px;
    background: #f5f5f5;
}
.title-text {
    margin-bottom: 30px;
}
.title-text h3 {
    color: #63584c;
    font-size: 38px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 40px;
}
.title-text a {
    color: #63584c;
    text-decoration: none;
}
.title-text p {
    color: #999;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
}
#id_tiny_2-iw {
    margin: 0px -10px 0px 0px;
}
#id_tiny_2 > .tns-item {
    width: calc(28%);
    padding-right: 10px;
}
#id_tiny_2 > .tns-item {
    font-size: 14px;
}
.slider-product .tns-item {
    padding: 0px;
}
.product-box {
    position: relative;
    overflow: hidden;
    background: #fff;
}
.product-box .product-thumbnail {
    height: 230px;
    position: relative;
}
.tns-inner .product-thumbnail {
    max-height: 230px;
}
.product-box .product-thumbnail .image_thumb {
    min-height: 155px;
}
.product-box .product-thumbnail .image_thumb {
    display: block;
}
.product-box .product-thumbnail img {
    transition: all 0.3s ease 0s;
}
.tns-inner .product-thumbnail img {
    max-height: 230px !important;
}
.product-box .product-thumbnail img {
    display: block;
    margin: auto;
}
.product-box .product-info {
    padding: 15px 15px 12px;
    position: static;
    text-align: center !important;
}
.product-box .product-info .product-name {
    margin-top: 0px;
    width: 100%;
}
.product-box .product-info .product-name {
    text-overflow: ellipsis;
    max-height: 42px;
    -webkit-line-clamp: 2;
    height: 42px;
    overflow: hidden;
}
.product-box .product-info .product-name {
    font-size: 15px;
    color: #1f1f1f;
    font-weight: 500;
    margin-bottom: 5px;
}
.product-box .product-info .product-name a {
    font-weight: 900;
}
.product-box .product-info .product-name a {
    display: block;
    text-decoration: none;
    color: black;
}
.product-box .product-info .price-box {
    width: 100%;
}
.product-box .product-info .price-box .special-price {
    display: inline-block;
    margin-right: 5px;
}
.product-box .product-info .price-box .special-price .price {
    color: #d4651f;
    font-weight: 900;
}
.product-box .product-info .price-box .special-price .price {
    font-size: 1.1em;
    line-height: 1.71429em;
    display: inline-block;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.product-box .product-thumbnail .quick-view {
    border-radius: 10px;
    width: 35px;
    line-height: 28px;
    left: inherit;
    right: 10px;
    background: #d4651f;
    opacity: 1;
    color: #fff;
    z-index: 99;
    visibility: visible;
    top: 10px;
    margin: 0;
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.3s ease 0s;
}
.product-box .product-info form {
    margin: 0;
    position: absolute;
    top: 50px;
    right: 10px;
    bottom: inherit;
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.3s ease 0s;
}
.product-box .product-action .btn-cart {
    font-size: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;
    justify-content: center;
    border-radius: 10px;
    background: #d4651f;
    opacity: 1;
    transform: translateX(0px);
    width: 33px;
    height: 32px;
}
.product-box .product-thumbnail .sale-flash {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 44px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    z-index: 10;
    border-radius: 0px;
    font-size: 11px;
    background: none;
    padding: 0px;
}
.sale-flash {
    left: 10px;
}
.product-box .product-thumbnail .sale-flash:before {
    display: inline-block;
    content: "Mới";
    width: 44px;
    height: 44px;
    background: url(//bizweb.dktcdn.net/100/430/435/themes/831833/assets/salea.png?1650527005816) no-repeat;
    border: none;
    color: #111;
    font-size: 12px;
    line-height: 44px;
    z-index: 9;
    position: relative;
    background-size: 44px 44px;
}
.product-box .product-thumbnail .sale-flash span {
    font-family: "Oswald",sans-serif;
    font-weight: 40;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    width: 35px;
    height: 55px;
    display: inline-block;
    background: url(//bizweb.dktcdn.net/100/430/435/themes/831833/assets/sale.png?1650527005816) no-repeat;
    padding-left: 6px;
    position: absolute;
    top: 28px;
    z-index: 1;
    right: 4px;
    background-size: 34px auto;
}
.product-box .product-thumbnail .sale-flash span:before {
    content: "-";
    display: inline-block;
    position: absolute;
    left: 4px;
}
<-- section-6 -->
.awe-section-6 {
    margin-bottom: 0px;
}
.halu-card-hori {
    display: flex;
}
.space-30 {
    margin-bottom: 30px !important;
}
.halu-card-hori .max-width-45 {
    max-width: 45%;
}
.halu-card-hori .bg-main {
    background: #d4651f;
    padding-right: 30px;
}
.halu-card-hori .col-item {
    flex: 1;
    display: flex;
    align-items: center;
}
.halu-card-hori .flex-end {
    justify-content: flex-end;
    text-align: right;
    padding: 20px 0;
}
.height-400 {
    height: 400px;
}
.halu-card-hori .max-width-45>div {
    max-width: 360px;
}
.halu-card-hori .bg-main h3 {
    font-size: 33px;
    margin-bottom: 10px;
    text-transform: capitalize;
    line-height: 50px;
    font-weight: 400;
    padding: 0 30px;
}
.halu-card-hori .bg-main h3, .halu-card-hori .bg-main p {
    color: #fff;
}
.halu-card-hori .col-item p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    padding: 0 30px;
}
.halu-card-hori .bg-main .btn {
    border: 1px solid #fff;
}
.halu-card-hori .col-item {
    flex: 1;
    display: flex;
    align-items: center;
}
.content-center {
    justify-content: center;
}
.click-popup-youtube {
    position: relative;
    z-index: 9;
    max-width: 60px;
}
.halu-card-hori .bg-cover:after {
    background: rgba(0,0,0,0.3);
}
.bg-cover:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

<-- section-7 -->
.awe-section-7 {
    margin-bottom: 0px;
}
.space-40 {
    margin-bottom: 40px;
}
#id_tiny_3-iw {
    margin: 0px -15px 0px 0px;
}
#id_tiny_3 > .tns-item {
    width: calc(20%);
    padding-right: 15px;
}
#id_tiny_3 > .tns-item {
    font-size: 14px;
}
.halu-customer-item {
    padding-bottom: 25px;
    margin-left: 10%;
}
.halu-customer-item .content {
    background: #595959;
    position: relative;
    box-shadow: 0 15px 18px #cdcdcd;
    color: #fff;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 14px;
    min-height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.halu-customer-item .content p {
    margin-bottom: 5px;
}
.halu-customer-item .content svg {
    width: 15px;
}
.halu-customer-item .content svg path {
    fill: #d4651f;
}
.halu-customer-item .content:after {
    background: #595959;
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: 99;
    width: 20px;
    height: 20px;
}
.halu-customer-item .avatar {
    text-align: center;
}
.halu-customer-item h3 {
    font-family: "Roboto";
}
.halu-customer-item h3 {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;
    color: #999;
    margin: 5px 0 0;
}
.halu-customer-item .avatar img {
    border-radius: 50%;
    margin: 0 auto;
    max-width: 50px;
}
@media (min-width: 75em){
    #id_tiny_3 {
        width: calc(100%);
    }
}
@media (max-width: 767px){ 
    .awe-section-7 {
        margin-bottom: 0;
    }
}

<-- section-8 -->
.awe-section-8 {
    margin-bottom: 0px;
}
.halu-banner-center {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.halu-banner-center .text {
    text-align: center;
    padding: 0 30px;
}
.halu-banner-center h3 {
    color: #fff;
    font-size: 40px;
}
.halu-banner-center p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
}
.btn-orange.btn-white-border {
    background: none;
    border: 1px solid #fff;
}
.bg-cover:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

<-- section-9 -->
.awe-section-9 {
    margin-bottom: 0px;
}
.section_blogs {
    padding-bottom: 30px;
    background: #fff;
}
#id_tiny_4-iw {
    margin: 0px;
}
#id_tiny_4 {
    font-size: 0px;
}
#id_tiny_4 > .tns-item {
    width: calc(33.3333%);
}
#id_tiny_4 > .tns-item {
    font-size: 14px;
}
.section_blogs .item {
    padding: 0 10px 10px;
}
.section_blogs .item_wrap_blog {
    box-shadow: 0 15px 18px #cdcdcd;
    border: none;
    padding: 0;
}
.section_blogs .item_wrap_blog {
    background: #fff;
    border-radius: 5px;
}
.item_wrap_blog {
    margin-bottom: 20px;
    width: calc(100% - 1px);
}
.blog-inner>a {
    display: inline-block;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    border-top-left-radius: 5px;
    overflow: hidden;
    border-top-right-radius: 5px;
}
.section_blogs img {
    max-width: 100%;
}
.banner:before {
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 0;
    content: "";
    height: 0;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 0;
}
.banner:after {
    border-color: transparent transparent #000;
    border-style: solid;
    border-width: 0;
    bottom: 0;
    content: "";
    height: 0;
    opacity: 0.2;
    position: absolute;
    right: 0;
    transition: all 0.5s ease-in-out;
    width: 0;
}
.section_blogs .content__ {
    padding: 0 15px 15px;
}
.item_wrap_blog .time_post {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    color: #999;
}
.section_blogs .item_wrap_blog h3 a {
    font-size: 16px;
    min-height: 43px;
    font-weight: 600;
    color: black;
    text-decoration: none;
}
.section_blogs .item_wrap_blog h3 a {
    text-transform: uppercase;
}
.time_post {
    display: inline-block;
}
.text2line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.section_blogs .item_wrap_blog p {
    font-weight: 300;
}
.section_blogs .item_wrap_blog p {
    font-size: 13px;
    margin-top: 8px;
}
@media (min-width: 75em){
    #id_tiny_4 {
        width: calc(100%);
    }
}
@media (min-width: 481px){
    .owl-carousel.tns-slider {
        height: auto !important;
    }
}

<--wrap-newsletter -->
.wrap-newsletter {
    background: #f5f2eb;
}
.halu-card-hori {
    display: flex;
}
.halu-card-hori .col-item {
    flex: 1;
    display: flex;
    align-items: center;
}
.height-360 {
    height: 360px;
}
.halu-card-hori .bg-cover:after {
    background: rgba(0,0,0,0.3);
}
.halu-card-hori .col-item {
    flex: 1;
    display: flex;
    align-items: center;
}
.wrap-newsletter .box-text {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.wrap-newsletter .box-text h3 {
    text-transform: uppercase !important;
}
.halu-card-hori .col-item h3 {
    /*color: #63584c;*/
    font-size: 38px;
    line-height: 50px;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 0 10px;
}
.halu-card-hori .col-item p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    /*color: #999;*/
    padding: 0 10px;
}
.wrap-newsletter .box-text form {
    display: flex;
    box-shadow: 0 10px 15px #cdcdcd;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    margin: 0;
}
.wrap-newsletter .box-text form input {
    margin: 0;
    border: none;
    width: 100%;
    font-weight: 300;
    height: 50px;
    font-size: 16px;
    padding-right: 100px;
}
.wrap-newsletter .box-text form button {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    background: #d4651f;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

<-- footer -->
.body_index footer {
    margin-top: 0px;
}
footer {
    padding-top: 40px;
    background: #454545;
    position: relative;
}
.site-footer {
    margin-bottom: 0px;
    padding: 0px 0 30px;
}
footer .site-footer h4 {
    font-weight: 500;
    font-size: 1.4em;
}
footer .site-footer h4 {
    position: relative;
    color: #fff;
    margin: 0;
    padding: 13px 0 20px;
    text-transform: uppercase;
}
footer .list-menu {
    margin-bottom: 15px;
    line-height: 1.71429em;
}
footer .list-menu.infomation li {
    margin-bottom: 10px;
}
footer .list-menu li {
    color: #fff;
    list-style: none;
    margin-bottom: 5px;
}
footer .list-menu li {
    color: #fff;
    list-style: none;
}
footer .list-menu a {
    color: #fff;
    text-decoration: none;
}
footer .list-menu a, footer .list-menu.infomation li>div, footer .copyright p {
    font-weight: 300;
}
footer .list-menu.infomation li>div {
    margin-bottom: 5px;
}
footer .list-menu li .company i.fa {
    color: #f62d3e;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    width: 20px;
}
footer .list-menu.payment li {
    display: inline-block;
}
footer .list-menu.payment img {
    max-width: 50px;
}
footer .copyright {
    background: #2c2c2c;
}
footer .copyright {
    padding: 10px 0;
    color: #fff;
    font-size: 1em;
    position: relative;
}
footer .copyright p {
    margin-bottom: 0px;
}
.body_index .copyright b {
    display: none;
}
.body_index .copyright a {
    display: inline-block;
}
footer .copyright a {
    color: #fff;
    text-decoration: none;
}
footer .copyright a {
    font-weight: 500;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
footer .list-menu.social-media-footer li {
    display: inline-block;
    margin-right: 10px;
}
footer .list-menu.social-media-footer a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
}
footer .list-menu.social-media-footer a i {
    line-height: 38px;
}
/*footer .back-to-top.show {
    position: fixed;
    right: 10px;
    bottom: 10px;
    top: initial !important;
}
footer .back-to-top {
    background: #d4651f;
    box-shadow: none;
    color: #fff;
    height: 50px;
    width: 50px;
    line-height: 46px;
    text-align: center;
    font-size: 26px;
    border-radius: 0px;
    transition: all 0.3s ease 0s;
}
footer .back-to-top {
    z-index: 99;
    cursor: pointer;
}*/
.lv1{
    padding-left: 1rem;
}
@media (min-width: 768px){
    footer .list-menu {
        display: block !important;
    }
}
@media (max-width: 1199px){
    body.body_index {
        overflow: scroll;
    }
}
@media (max-width: 991px){
    .header {
        z-index: 9999;
    }
}
@media (max-width: 991px){
    .header-main {
        z-index: 99991;
    }
}
@media (max-width: 991px){
    .header-main {
        flex-wrap: wrap;
        width: 100%;
    }
}
@media (max-width: 991px){
    header .header-main .main-nav {
        display: block !important;
    } 
}
@media (max-width: 991px){
    header .main-nav, header .main-nav.sticky {
        position: fixed !important;
        padding: 0px;
        width: 270px !important;
        left: -330px !important;
        background: #f5f2eb;
        z-index: 9999;
        height: 100vh;
        transition: all 0.3s ease 0s;
    }
}
@media (max-width: 991px){
    .header-main .logo {
        /*display: flex;*/
        margin-top: 0px;
        line-height: 0;
        top: -38px;
    }
} 
@media (max-width: 991px){
    .logo {
        font-size: 30px;
        line-height: 65px;
    }
}
@media (max-width: 991px){
    header .logo a {
        display: inline-block;
        text-align: left;
    }
}
@media (max-width: 991px){
    .header-main .logo img {
        max-width: 120px;
    }
}
@media (max-width: 991px){
    .heading-cart {
        padding: 0;
        margin: 0;
    }
}
@media (max-width: 1199px){
    .top-cart-content {
        display: none !important;
    }
}
@media (min-width: 48em){
    #id_tiny_0 {
        width: calc(300%);
    }
}
@media (min-width: 481px){
    .owl-carousel.tns-slider {
        height: auto !important;
    }
}
@media (min-width: 33.9375em){
    #id_tiny_4 {
        width: calc(150%);
    }
}
@media (min-width: 62em){
    #id_tiny_4 {
        width: calc(100%);
    }
}
@media (min-width: 75em){
    #id_tiny_4 {
        width: calc(100%);
    }
}
@media (min-width: 48em){
    #id_tiny_4 {
        width: calc(110%);
    }
}
@media (max-width: 991px){
    .title-text p {
        font-size: 14px;
    }
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
@media (max-width: 767px){
    .product-box .product-thumbnail img {
        max-height: 130px !important;
    }
}     