.widget-content{
	background-color: black;
}
.cover img{
	width: 100%;
  object-fit: cover;
  object-position: center;
}

.col-6{
	padding: 15px;
}
.col-6 img{
	width: 100%;
}
.col-6 p{
	font-size: 15px;
	color: white;
	margin-left: 35px;
}
.post-items{
	margin-top:15px;
}
.post-item img{
	width: 80px;
	height: 80px;
	object-fit: cover;
  object-position: center;
  margin-bottom: 15px;
}
.post-item h1{
	font-size: 15px;
	margin-left: 15px;
	color: white;
}
.line{
	height: 25px;
  width: 100%;
  background-color: #067EC7;
  transform: translateY(-50%);
  opacity: 0.5;
  z-index: 99;
}